@import url('https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

::-webkit-scrollbar{
    background-color: aqua;
    width: .5em;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(184, 0, 190);
    border-radius: 30px;
}

::-webkit-scrollbar-track{
    color: aqua;
    background-color: rgb(7, 2, 24);
}

body {
  font-family: 'Exo', sans-serif;
}



header{
  padding: 0 2rem;
  height: 6em;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  align-items: center;
  font-family: 'Exo';

  .navbar{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;


  }

 

  .logo{
      width: 16%;
      img{
          width: 100%;
      }

      @media only screen and (max-width:992px){
          width: 9rem;
          margin-left: 3%;
      }
  }


}

.description {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75vh;
  background-color: #202020;
  overflow: hidden;
  color: #ffffff;

  @media only screen and (max-width: 857px){
    flex-direction: column;
    align-items: center;
    height: auto;
  }

}

.area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .5;
  height: 100%;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  z-index: -1;
}

.descContainer {
    width: 80%;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    overflow: hidden; 

    @media only screen and(max-width:1190px){
      width: 63%;
    }

    @media only screen and (max-width: 857px){
      height: 65vh;
      width: 100%;
    }

  }
  
  .descContainer::after {
    content: '';
    position: absolute;
    top: 0;
    right: -67px;
    width: 100px;
    height: 100%; 
    background-color: #202020; 
    transform-origin: top left;
    transform: skewX(-3deg); 
    z-index: -1;
  }

.descContainer span {
  font-size: 26px;
}

.descContainer h1 {
  font-size: 53px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-top: -7px;

  @media only screen and (max-width: 857px){
    font-size: 43px;
  }
}

.modal {
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: none;
}

.modal-content {
  background: linear-gradient(to bottom right, #f8f8f8, #9fc9da);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  color: #121212;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;

  .modal-align{
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  h2{
    font-size: 1em;
    margin: 1em 0 1.5em 0;
    color: #7d4b4b;
  }

  span{
    margin-bottom: 1em;
  }
}

.close {
  color: #868686;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.about-align{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 10% 0 38%;

  @media only screen and (max-width:1200px){
    margin: 0 10% 0 19%;
  }

  @media only screen and (max-width: 1004px){
    margin-left: 43%;
  }

  @media only screen and (max-width: 768px){
    margin: 0 0 0 24%;
  }
}

.rotating-text {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  margin-top: 10px;

  @media only screen and (max-width: 857px){
    font-size: 25px;
  }

}

.rotating-text p {
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  @media only screen and (max-width: 857px){
    font-size: 25px;
  }
}

.rotating-text p span {
  font-size: 50px;
  @media only screen and (max-width: 857px){
    font-size: 25px;
  }
}

.word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.word .letter {
  transform-origin: center center 25px;
}

.word .letter.out {
  transform: rotateX(90deg);
  transition: 0.24s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.word .letter.in {
  transition: 0.24s ease;
}

.word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: #e74c3c;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #2ecc71;
}

.sun-flower {
  color: #f1c40f;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.trailer {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000000;
  mix-blend-mode: difference;
  pointer-events: none;

  @media only screen and (max-width: 768px){
    display: none;
  }
}


.experiencesScl{
    width: 100%;
    height: auto;
    background-color: #202020;
    color: #fff;

    .experiences-container{
        padding: 3% 10% 2% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 992px){
            padding: 8% 10% 3% 10%;
        }
    }

    h3{
        color: rgb(186, 13, 230);
        transition: .5s;
        margin-bottom: .5rem;
    }

    h3:hover{
        opacity: .7;


 
    }

    .content{
        content: '';
        height: .2rem;
        background-color: rgb(186, 13, 230);
        width: 0rem;
        margin: 1rem 0;
        transition: .8s ease-in-out;
    }

    .experiences-container:hover{
        .content{
            width: 25rem;

        }
    }

    .experiences-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            transition: .5s;
            cursor: pointer;
        }

        i:hover{
            color: #ff9100;
            opacity: .8;
        }

        span{
            transition: .5s;
            margin: 0 0 .5rem .5rem;
        }


    }

 


}


.competencias {
    z-index: 1; 
    display: flex;
    height: auto;
    flex-wrap: wrap;
    filter: drop-shadow(8px 8px 10px rgb(54, 54, 54));
    
    @media only screen and (max-width: 768px) { 
      background: linear-gradient(105deg in oklab, blue, red);
    }

  }
  
  .bg {
    position: absolute; 
    z-index: -1; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(9, 0, 133) 0%, rgb(255, 0, 200) 20%, rgb(0, 89, 255) 40%, #ff357f 70%, rgb(7, 62, 241) 100%);
    animation: AnimateBG 20s ease infinite;


    @media only screen and (max-width: 768px) { 
      display: none;
    }


  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .title-competencias {
    color: #fff;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title-competencias h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .container-competencias {
    position: relative; 
    z-index: 2;
    padding: 3em 0;
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
  }
  
  .competenciasContent {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    z-index: 2; 
    width: 80%;
    background: rgba(255, 255, 255, 0.137);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.38);
  }
  
  .grid-competencias {
    position: relative; 
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.8em;
  }
  
  @media only screen and (max-width: 1420px) {
    .grid-competencias {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media only screen and (max-width: 1152px) {
    .grid-competencias {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media only screen and (max-width: 952px) {
    .grid-competencias {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 752px) {
    .grid-competencias {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 480px) {
    .grid-competencias {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .image-competencias {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .image-competencias img {
    cursor: pointer;
    width: 9em;
    transition: .7s;
    filter: grayscale(100%);
  }
  
  .image-competencias:hover img {
    filter: grayscale(0);
  }
  
  @media only screen and (max-width: 768px) {
    .image-competencias img {
      filter: grayscale(0);
    }
  }

    footer{
        z-index: 1000;
        height: 40vh;
        background-color: #02000f;
    
        
        @media only screen and (max-width:915px){
            height: auto;
    
        }
    
        .footer-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
        overflow-y: hidden;
    
            @media only screen and (max-width:915px){
                flex-direction: column;
                align-items: flex-start;
                padding: 3% 0 4% 9%;
            }   
    
            .footer-content{
                width: 15%;
                height: 45%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: #fff;
                padding: 3% 1% 4% 7%;
                transition: .5s;
    
                @media only screen and (max-width:915px){
                    padding: 2% 1% 4% 0%;
                    width: 50%;
                }
    
                .logo{
                    width:8rem;
                    margin-bottom: 1.6rem;
                    cursor: pointer;
                    transition: .4s;
                }
    
                .logo:hover{
                    opacity: .6;
                }
    
                span{
                    font-size: 1rem;
                }
    
                .social-media{
                    display: flex;
                    flex-direction: row;
    
                    img{
                        width: 1.4rem;
                        margin-right: .8rem;
                        transition: .3s;
                    }
    
                    img:hover{
                        opacity: .6;
                    }
    
                    @media only screen and (max-width:630px){
                        margin: .5rem 0;
                    } 
                }
            }
            
    
    
            .snd-footer-content{
                width: 23%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: #fff;
                padding: 2.5rem 1rem 4rem 6rem;
                transition: .9s;
    
                @media only screen and (max-width:915px){
                    padding: 1rem 1rem 2rem 0rem;
                    width: 80%;
                }
            }
    
            .content{
                content: '';
                height: .2rem;
                background-color: rgb(174, 0, 255);
                width: 10rem;
                margin: 1rem 0;
                transition: .5s ease-in-out;
            }
    
            .snd-footer-content:hover{
                color: #d1d1d1;
                opacity: .7;
    
                .content{
                    width: 17rem;
                }
            }
    
            .snd-footer-content:nth-child(1){
                margin-bottom: 1rem;
            }
        }
    
    }

    .about-container{
      display: flex;
    flex-direction: column-reverse;
    width: 32%;
    height: auto;
    align-items: center;
    justify-content: center;


      @media only screen and (max-width:768px){
          padding: 4rem 1rem;
          width: 80%;
      }
  
      .about-content{
          display: flex;
          flex-direction: column;
          padding: 2% 4% 2% 4%;
          align-items: flex-start;
          justify-content: center;
          color: #fff;
          width: 44%;

          @media only screen and (max-width:1310px){
            width: 77%;
        }

         @media only screen and (max-width:1004px){
          width: 11rem;
       }

       @media only screen and (max-width: 768px){
        width: 85%;
       }
      
  
          h1{
              font-size: 2rem;
  
              strong{
                  color: aqua;
                  transition: .5s;
              }
              strong:hover{
                  opacity: .4;
              }
          }
  
          span{
              font-size: 1.2rem;
              margin-bottom: 1%;
  
              strong{
                  color: aqua;
                  font-weight: bold;
              }
  
              em{
                  color: #ff9100;
              }
          }
  
          .span-description{
              opacity: .5;
              transition: .5s;
          }
  
          .span-description:hover{
              opacity: 1;
          }
  
          .content{
              content: '';
              height: 3px;
              width: 15rem;
              background-color: aqua;
              margin: 1rem 0;

              @media only screen and (max-width:1004px){
                width: 10em;
             }

              @media only screen and (max-width:1200px){
                display: none;
             }
          }
          .find-me{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              margin-top: .5rem;
              padding: .5rem 0;

              @media only screen and (max-width:1004px){
                width: 90%;
             }

             @media only screen and (max-width: 768px){
              display: flex;
              align-items: center;
             }
  
  
              @media only screen and (max-width:630px ){
                display: flex;
                align-items: center;
              }

              .find-me-align{
                display: flex;
                margin-bottom: 3%;
                align-items: center;
              }
  
              .find-me-span{
                  width: 8rem;
              }
  
              .social-media{
                  display: flex;
                  flex-direction: row;
  
                  @media only screen and (max-width:630px){
                      margin: .5rem 0;
                  } 
              }
  
              span{
                  margin-right: .4rem;
                  font-size: 1rem;
  
              }
              img{
                  width: 1.4rem;
                  margin-right: .6rem;
                  transition: .5s;
              }
  
              img:hover{
                  opacity: .6;
              }
              .linkedin{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
                  background-color: #006eff;
                  text-decoration: none;
                  color: #fff;
                  border-radius: 20px;
                  width: 7rem;
                  transition: .5s ease;
                
                  

                  @media only screen and (max-width: 630px){
                      width: 10rem;
                  }
              }
  
              .linkedin:hover{
                  width: 10rem;
  
              }
          }
  
      }
  
      .about-logo{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 17em;

  
          @media only screen and (max-width: 1200px){
              display: none !important;
          }
  
          img{
              width: 40%;
              opacity: .6;
              z-index: 0;
              transition: .5s;
          }
  
          img:hover{
              opacity: 1;
          }
      }
  }

  .experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40em;
    background-color: #212121;
    color: #fff;

    @media only screen and (max-width:999px){
      width: 100%;
      height: 105em;
    }



    .title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h5{
      font-size: 2em;

      @media only screen and (max-width:655px){
        font-size: 1.4em;
      }
    }

    span{
      opacity: .7;
    }

    .experiencesAlign{
      display: flex;
      flex-direction: column;

    }

    .experiencesContainer {
      display: flex;
      width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3em;

    @media only screen and (max-width:999px){
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 90em;
    }
    }

    .experiencesContent{
      display: flex;
      padding: 1em;
      flex-direction: column;
      height: 18em;
      transition: 1s;
      background: linear-gradient(to bottom left, #d3d3d3, #888888);
      align-items: center;
      justify-content: center;
      border: 3px solid #fff;
      border-radius: 15px;
      margin: 3em 0 1em 0;
      cursor: pointer;

      img{
        width: 17em;
      }
    }

    
    .experiencesContent:hover{
      border: 3px solid #d32fb8;
    }

    .links{
      display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;

      h3{
        margin-bottom: 5px;
      }

      a{
        text-decoration: none;
        color: wheat;
      }
    }

  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22em;
    font-size: 2em;
    background-color: #151515;
    color: #FFF;
    position: relative; 
}

.projects-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 0;
    background-color: #02000f9a;
    z-index: 10; 

}

.projects-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/img/projects_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 1; 
}

  .glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.glitch {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;

    @media only screen and (max-width:999px){
      font-size: 47px;
    }
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}
 
 @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }

  .certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20em;
    padding: 0 1em;
    filter: drop-shadow(8px 8px 10px rgb(53, 53, 53));
    background: url(assets/img/alura-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .certificados-container{

      display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

      h4{
        font-size: 30px;
        margin-bottom: 10%;
      }
      
      .alura{
        display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  padding: 0.8rem 0.7rem 0.8rem 0.7rem;
                  background-color: transparent;
                  border: 1px solid #006eff;
                  text-decoration: none;
                  color: #fff;
                  font-size: 20px;
                  border-radius: 30px;
                  width: 14rem;
                  transition: .5s ease;

                  
      }

      .alura:hover{
        width: 18rem;
        border: 1px solid #f1f1f1;
        background-color: #006eff7a;
      }
    }
  }